<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel"> <span class="text-primary">vous êtes connecté </br>en temps que </span>: <span class="text-success">{{request.user}}</span></h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <p><a href="{% url 'logout_user' %}" class="btn btn-danger">Se Deconnecter</a></p>
    </div>
</div>