{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load static %}

{% block title %}
    ajout lot
{% endblock %}




{% block main %}


<div class="container-fluid">
      <form method="post" class="card p-3 mt-5 border border-primary" enctype="multipart/form-data">
   
            {% csrf_token %}
         
            {{ form|crispy }}

            <div class="mt-4" style="width: 100p%;">
               
               <button type="submit" name="submit" value="Ajouter" class="btn btn-primary" id="submit-id-submit" />
                Ajouter   <i class="fas fa-plus"></i>
            </button>

               <a style= "font-size: 15px; wdith: 50px;" href="{% url 'listdoc' %}" type="button" class="btn btn-warning" title="Close">
                     <i class="fas fa-times"></i>
               </a>
            
            </div>
         </form> 
</div>

   {% endblock main %}



   <script>
     $("#id_dossier_id").select2({
      placeholder: "selectionner le dossier",
      allowClear: true
     });
   </script>





