


<table id="example" class="table table-striped">
    <thead>
        <tr>
            
            <th style="font-size: 14px; padding: 4px;">Numero de publication</th>
            <th style="font-size: 14px; padding: 4px;">Date de lancement de publication</th>
            <th style="font-size: 14px; padding: 4px;">Date de publication DGCMEF</th>
            <th style="font-size: 14px; padding: 4px;">Fichier</th>
            <th style="font-size: 14px; padding: 4px;">Dossier</th>
            <th>
                <a class="nav-link" href="{% url 'addavis' dossier.id %}">
                <i class="fa fa-plus-circle text-primary"></i>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for item in avis %}
        <tr>
            <td  >{{item.num_publi}}</td>
            <td>{{item.date_lancement_pulication}}</td>
            <td>{{item.date_publi}}</td>
            {% if item.fichier %}
            <td><a href="{{item.fichier.url}}"> <i class="fa fa-file-pdf"></i> </a></td>
            {% else %}
            <td class="text-center text-danger">pas de fichier</td>
            {% endif %}
            <td>{{item.dossier_id}}</td>
            <td>
                <a href="{% url 'editavis' item.id %}">
                    <i class="fa fa-pencil text-warning"></i>
                </a>
                &nbsp;
                <a title="supprimer" href = "{% url 'deleteavis' item.id %}"  >
                    <i class="fas fa-trash text-danger"></i> 
                </a>
            </td>
        </tr>
        

        {% endfor %}
    </tbody>
</table>





   
   
   





