{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    Suivi Dossier
{% endblock %}

{% block main %}
<div class="container-fluid">

    <!-- Bouton Voir PPM -->
    <div class="row mb-3">
        <div class="col-md-12 text-end">
            <a href="{% url 'ppm_view' plan.id %}" class="btn btn-primary">
                Voir PPM
            </a>
        </div>
    </div>

    <!-- Champ de recherche -->
    <div class="row mb-3">
        <div class="col-md-12">
            <input type="text" id="searchInput1" class="form-control" placeholder="Rechercher des dossiers...">
        </div>
    </div>

    <!-- Message lorsqu'aucun résultat n'est trouvé -->
    <div id="noResultsMessage" class="alert alert-info d-none">
        Aucun résultat ne correspond à votre recherche.
    </div>
    
    <div class="row" id="dossierContainer">
        {% for dossier_info in dossiers_info %}
        <div class="col-md-4 dossier-card">
            <div class="card mb-4">
                <div class="card-header">
                    Dossier: {{ dossier_info.ref_dossier }}
                    <p>Intitulé: {{ dossier_info.intitule_dossier|default:"None" }}</p>
                </div>
                <div class="card-body">
                   
                    <p>Référence de publication: {{ dossier_info.ref_pub|default:"None" }}</p>
                    <p>Date de lancement: {{ dossier_info.date_lancement_pulication|default:"None" }}</p>
                    <p>Attributaire: {{ dossier_info.nom_attributaire|default:"None" }}</p>
                    <p>Contagieux litige: {{ dossier_info.contagieux_litige|default:"None" }}</p>
                    <p>Numéro du marché: {{ dossier_info.numero_marche|default:"None" }}</p>
                    <p>Date de notification du projet de contrat: {{ dossier_info.date_notif_projet_contrat|default:"None" }}</p>
                    <p>Date de publication DGCMEF: {{ dossier_info.date_publi|default:"None" }}</p>
                    <p>Montant: {{ dossier_info.montant|default:"None" }}</p>
                    <p>Date de signature du contrat: {{ dossier_info.date_sign_contrat|default:"None" }}</p>

                    <p>État: {{ dossier_info.etat }}</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{ dossier_info.progression }}%;" aria-valuenow="{{ dossier_info.progression }}" aria-valuemin="0" aria-valuemax="100">{{ dossier_info.progression }}%</div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-md-12 text-center mb-4">
            <h2>Statut global des dossiers</h2>
            <canvas id="globalStatusChart" width="200" height="200px"></canvas>
            <p>Progression générale: {{ stats.moyenne_totale }}%</p>
        </div>
    </div>
</div>

<!-- Inclure SweetAlert -->
<script src="{% static 'js/sweetalert.min.js' %}"></script>
{% for message in messages %}
    {% if message.tags == 'error' %}
    <script>
        var m = "{{ message }}";
        swal("Réfusé!", m, "error");
    </script>
    {% elif message.tags == 'success' %}
    <script>
        var m = "{{ message }}";
        swal("Bienvenue!", m, "success");
    </script>
    {% elif message.tags == 'warning' %}
    <script>
        var m = "{{ message }}";
        swal("A bientôt!", m, "warning");
    </script>
    {% endif %}
{% endfor %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // Configuration du graphique
    var canvas = document.getElementById('globalStatusChart');
    canvas.width = 500; // Ajustez la largeur souhaitée
    canvas.height = 500; // Ajustez la hauteur souhaitée

    var ctx = canvas.getContext('2d');
    var globalStatusChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['En cours d\'exécution', 'Non entamés', 'Lancé non attribué'],
            datasets: [{
                data: [{{ stats.global_en_cours }}, {{ stats.global_non_entame }}, {{ stats.global_lance_non_attribue }}],
                backgroundColor: ['#36A2EB', '#FF6384', '#FFCE56'],
                hoverBackgroundColor: ['#36A2EB', '#FF6384', '#FFCE56']
            }]
        },
        options: {
            responsive: false, // Désactive la réactivité pour permettre les dimensions fixes
            plugins: {
                legend: {
                    position: 'top',
                },
                tooltip: {
                    callbacks: {
                        label: function(tooltipItem) {
                            return tooltipItem.label + ': ' + tooltipItem.raw + '%';
                        }
                    }
                }
            }
        }
    });

    // Fonction de recherche et filtrage
    document.getElementById('searchInput1').addEventListener('input', function () {
        var searchQuery = this.value.toLowerCase();
        var cards = document.querySelectorAll('.dossier-card');
        var noResultsMessage = document.getElementById('noResultsMessage');
        var hasResults = false;

        cards.forEach(function (card) {
            var cardText = card.textContent.toLowerCase();
            if (cardText.includes(searchQuery)) {
                card.style.display = 'block';
                hasResults = true;
            } else {
                card.style.display = 'none';
            }
        });

        // Afficher ou masquer le message d'alerte
        if (hasResults) {
            noResultsMessage.classList.add('d-none');
        } else {
            noResultsMessage.classList.remove('d-none');
        }
    });
</script>

{% endblock main %}
