{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    ppm
{% endblock %}


{% block btn %}


{% endblock btn %}

{% block main %}





{% for message in messages %}
        {% comment %} <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> {% endcomment %}
        <script src="{% static 'js/sweetalert.min.js' %}"></script>
        {% if message.tags == 'error' %}
        <script>
            var m = "{{ message }}";
            swal("Réfusé!", m, "error");
        </script>
        {% elif message.tags == 'success' %}
        <script>
            var m = "{{ message }}";
            swal("Bienvenue!", m, "success");
        </script>
        {% elif message.tags == 'warning' %}
        <script>
            var m = "{{ message }}";
            swal("A bientôt!", m, "warning");
        </script>
        {% endif %}

    {% endfor%}
    
{% endblock main %}