<div class="container">
  <table class="table table-striped">
        <thead>
            <tr>
                <th style="text-align"=center;>
                    &nbsp;
                    <a class="nav-link" href="{% url 'addoffre' dossier.id %}">
                        <i class="fa fa-plus-circle text-primary"></i>
                    </a>
                </th>
            </tr>   
            <tr>
                <th>Intitulé Dossier</th>
                <th>Date de reception prévu</th>
                <th>Date réelle de réception</th>
                <th>Entreprise</th>
                <th>Offre Technique</th>
                <th>Actions</th>
               
            </tr>
        </thead>
        <tbody>
            {% for offre in offres %}
            <tr>
                <td>{{ offre.dossier }}</td>
                <td>{{ offre.date_prevu_reception }}</td>
                <td>{{ offre.date_reel_reception }}</td>
                <td>{{ offre.entreprise }}</td>
                <td>{{ offre.offre_technique}}</td>
                <td>
                    <a href="" class="btn btn-primary btn-sm">Modifier</a>
                    <a href="" class="btn btn-danger btn-sm">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
