{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    PPM
{% endblock %}

{% block btn %}
<a class="nav-link" href="{% url 'addplanitems' %}"><i class="fa fa-plus-circle text-primary"></i></a>
<a class="nav-link" href=""><i class="fa fa-upload text-primary"></i></a>
{% endblock btn %}

{% block main %}

<form method="post" action="{% url 'filter_plan' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <select name="annee">
        <option value="">-- Sélectionnez une année --</option>
        {% for year in years %}
            <option value="{{ year.id }}" {% if selected_year == year.id|stringformat:"s" %}selected{% endif %}>{{ year.annee }}</option>
        {% endfor %}
    </select><br>
    <button type="submit" style="margin-bottom: 5px;">HISTORIQUE PLAN</button>
</form>


<form method="post" action="{% url 'import_plan' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <select name="annee" id="id_annee" style="width: 100px; float: right; margin-bottom: 2px;">
        {% for year in years %}
        <option value="{{ year }}">{{ year }}</option>
        {% endfor %}
    </select><br>

    <input type="file" name="csv_file" accept=".csv" style="float: right; margin-bottom: 5px;"><br><br>
    <button type="submit" style="float: right; margin-bottom: 5px;">IMPORTER UN PLAN</button>
</form>

<table id="example" class="table table-striped">
    <thead>
        <tr>
            <th>Num Ordre</th>
            <th>Année de planification</th>
            <th>Budget</th>
            <th>Direction Charge Dossier</th>
            <th>Unité Service Bénéficiaire</th>
            <th>Montant Inscription Budgétaire</th>
            <th>Montant Dépenses Engagées Non Liquidées</th>
            <th>Disponible</th>
            <th>Éléments Composantes</th>
            <th>Type Prestation</th>
            <th>Nature Prestations</th>
            <th>Mode Passation</th>
            <th>Agent Charge Dossier</th>
            <th>Service Charge Dossier Technique</th>
            <th>Intitulé Dossier</th>
            <th><i class="fa fa-gears text-success"></i> Action</th>
        </tr>
    </thead>
    <tbody>
        {% for item in planitems %}
        <tr>
            <td>{{ item.num_ordre }}</td>
            <td>{{ item.annee.annee }}</td>
            <td>{{ item.budget }}</td>
            <td>{{ item.direction_charge_dossier }}</td>
            <td>{{ item.direction_charge_dossier }}</td>
            <td>{{ item.montant_inscription_budgetaire }}</td>
            <td>{{ item.montant_depenses_engagees_non_liquidees }}</td>
            <td>{{ item.disponible }}</td>
            <td>{{ item.elements_composantes }}</td>
            <td>{{ item.type_prestation }}</td>
            <td>{{ item.nature_prestations }}</td>
            <td>{{ item.mode_passation }}</td>
            <td>{{ item.agent_charge_dossier }}</td>
            <td>{{ item.service_charge_dossier_technique }}</td>
            <td>{{ item.intitule_dossier }}</td>
            <td>
                <a href="{% url 'editplanitems' item.id %}">
                    <i class="fa fa-pencil text-warning"></i>
                </a>
                &nbsp;
                <a data-bs-toggle="modal" data-bs-target="#deletePlanItem{{item.id}}" title="supprimer">
                    <i class="fas fa-trash text-danger"></i> 
                </a>
            </td>
        </tr>
        {% include "suivi/delete_planitem.html" %}
        {% endfor %}
    </tbody>
</table>
{% endblock main %}
